//===========================================//
//                                           //
//             --=All Assets=--              //
//                                           //
//===========================================//

$logo: 'img/application_14078520.png';
$menu-icon: 'img/menu_8673660.png';
$logo-hero: 'img/japan-illustration-japan-f5c864d006d1d3fb0ef186b72cf353e8.png';
$logo-git: 'img/github-mark.png';
$logo-lebenslauf: 'img/cv_8478721.png';
$logo-anschreiben: 'img/document_88159.png';
$logo-phone: 'img/smartphone-call_15874.png';
$logo-email: 'img/open-mail_10732928.png';
$img-adam: 'img/IMG_3621.jpg';

@mixin logo {
  background-image: url('#{$logo}');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin menu-icon {
  background-image: url('#{$menu-icon}');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin logo-hero {
  background-image: url('#{$logo-hero}');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin logo-git {
  background-image: url('#{$logo-git}');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center center;
}

@mixin logo-lebenslauf {
  background-image: url('#{$logo-lebenslauf}');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 8px center;
}

@mixin logo-anschreiben {
  background-image: url('#{$logo-anschreiben}');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 30px center;
}

@mixin logo-phone {
  background-image: url('#{$logo-phone}');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin logo-email {
  background-image: url('#{$logo-email}');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin img-adam {
  background-image: url('#{$img-adam}');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  
}