$active-black: #242128;

$active-black-hover: #353338;
$active-black-click: #4e4c52;

$active-grey-active: #505050;

$grid-background-color: rgb(194, 193, 193);

$menu-background-hover: #7e7e7e;

$menu-background-active: #a0a0a0;