@import '../utils/vars.scss';


@mixin about-me-button {
  .about-me-button {
    font-weight: 100;
    font-size: 20px;
    background-color: white;
    color: #242128;

    border: solid 1px;
    border-color: $active-black;
    padding: 10px 25px 10px 25px;
    cursor: pointer;

    transition: 
      background-color 0.3s,
      color 0.3s,
      font-size 0.5s,
      padding 0.7s,
      border 0.7s;
  }

  .about-me-button:hover {
    background-color: $active-black;
    color: white;
    font-size: 30px;
    padding: 15px 50px 15px 50px;
    border: none;
  }

  .about-me-button:active {
    background-color: $active-grey-active;
  }

  .about-me-button:hover:active {
    transition: none;
  }
}


@mixin button-back-to-dashboard {
  .button-back-to-dashboard{
    background-color: $active-black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 15px 20px 15px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $active-black-hover;
    }

    &:active {
      background-color: $active-black-click;
      transition: none;
    }
  }
}
