@import '../utils/vars.scss';


@mixin get-button {
  .get-button{
    background-color: $active-violet;
    color: white;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20.7px;
    padding-right: 20.7px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
    vertical-align: top;

    &:hover {
      background-color: $active-violet-hover;
    }
  }
}

@mixin download-button {
  .download-button{
    background-color: white;
    color: grey;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 20.7px;
    padding-right: 20.7px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: top;
    transition: background-color 0.15s, color 0.15s;

    &:hover {
      background-color: grey;
      color: white;
    }
  }
}