//===========================================//
//                                           //
//               --=Imports=--               //
//                                           //
//===========================================//

@import '../utils/vars.scss';

//===========================================//


//===========================================//
//                                           //
//           --=Button styling=--            //
//                                           //
//===========================================//



@mixin button-back-to-dashboard {
  .button-back-to-dashboard{
    background-color: $active-black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 15px 20px 15px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $active-black-hover;
    }

    &:active {
      background-color: $active-black-click;
      transition: none;
    }
  }
}
