@import '../../assets/styles/utils/asset-paths.scss';
@import '../../assets/styles/utils/reset.scss';
@import '../../assets/styles/form-elemts/buttons.scss';
@import '../../assets/styles/utils/vars.scss';

.anschreiben-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
  
  background-color: lightblue;

  .anschreiben-header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $active-black;
    color: white;

    font-size: 30px;
    width: 300px;
    height: 100px;
    
    border: none;
  }
}


.button-back-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: violet;

  @include button-back-to-dashboard;
}

.anschreiben-parent-container {
  display: flex;
  align-items: center;

  .anschreiben-container{
    order: 1;
    flex-grow: 1;

    width: 100%;
    height: 500px;

    background-color: lightpink;
    margin-right: 20px;
  
    .text-anschreiben {
      font-size: 25px;
      line-height: 1.4;
    }
  }

  .img-anschreiben{
    order: 2;
    flex-shrink: 0;
    float: right;

    width: 200px;
    height: 200px;
    border-radius: 100%;

    background-color: $grid-background-color;

    margin-left: 20px;
    margin-bottom: 30px;
  }
}