@import '../../assets/styles/utils/asset-paths.scss';
@import '../../assets/styles/utils/reset.scss';
@import '../../assets/styles/form-elemts/buttons.scss';
@import '../../assets/styles/utils/vars.scss';


  .anschreiben-container{
    order: 1;
    flex-grow: 1;

    width: 100%;
    height: 500px;

    .text-anschreiben {
      font-size: 25px;
      line-height: 1.4;
      text-align: justify;
    }
  }

  .img-anschreiben{
    order: 2;
    flex-shrink: 0;
    float: right;

    width: 200px;
    height: 200px;
    border-radius: 100%;

    background-color: $grid-background-color;

    margin-left: 45px;
    margin-bottom: 40px;
  }