// -------------------------- //
// --- Main Sheet Imports --- //
// -------------------------- //

@import './utils/vars';
@import './utils/asset-paths.scss';

@import './utils/reset.scss'; // reset all basic css

@import './form-elemts/buttons.scss';

@import '../../pages/dashboard/dashboard.scss';
@import '../../pages/about-me/about-me.scss';
@import '../../pages/anschreiben/anschreiben.scss';
@import '../../pages/lebenslauf/lebenslauf.scss';

// -------------------------- //

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; // Change from none to 0
  padding: 0; // Change from none to 0
}

#app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .head-bar {
    position: fixed;
    width: 100%;
    padding: 0 60px; // Removed unnecessary values
    height: 80px;
    background-color: white;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name-logo-container {
      display: flex;
      align-items: center;

      .logo-name {
        font-weight: 400;
        font-size: 25px;
        color: $active-black;
        margin-right: 8px;
        margin-left: 10px;
      }

      .logo {
        margin-left: 8px;
        width: 30px;
        height: 30px;
        @include logo;
      }
    }

    .menu-container {
      display: flex;
      position: relative;

      .drop-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        @include menu-icon;
      }

      .drop-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 9999;
      }

      .menu-container:hover .drop-content {display: block;}
    }
  }

  .dynamic-content {
    position: relative;
    padding: 100px 60px 40px; // Removed unnecessary values
  }

  .footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;

    &.disappear {
      opacity: 0;
      visibility: hidden;
    }

    &.appear {
      opacity: 1;
      visibility: visible;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-phone-container {
      display: flex;
      align-items: center;

      .phone-logo {
        width: 30px;
        height: 30px;
        margin-left: 30px;
        @include logo-phone;
      }

      .phone-number {
        margin-left: 5px;
        text-decoration: underline;
        color: $active-black;
      }
    }

    .email-logo-container {
      display: flex;
      align-items: center;

      .email-adress {
        margin-right: 10px;
        text-decoration: underline;
        color: $active-black;
      }

      .email-logo {
        width: 30px;
        height: 30px;
        margin-right: 30px;
        @include logo-email;
      }
    }
  }
}